@{ ViewBag.scripts = new List<string>();
 ViewBag.bundles = new List<string>();
 ViewBag.directives = new List<string>();
 ViewBag.modules = new List<string>();
}
<!-- MAIN CONTENT -->
<div id="content" ng-app="App" ng-controller="UsersController as ctl">
    <div ng-controller="viewController as vm">
        <section id="widget-grid" class="">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    @Html.RenderWidget("wUsers", "Users", new List<IHtmlString>() {
                    Html.RenderDataTable("dtUsers", new List<DataGridOptions>() { new DataGridOptions() { Id = "USER_LOGIN", ColumnName = "Login", isKey = true, keytype = KeyType.String },
                        new DataGridOptions() { Id = "USER_NAME", ColumnName = "Display Name", Sortable = true },
                        new DataGridOptions() { Id = "USER_EMAIL", ColumnName = "E-mail", Sortable = true },
                        new DataGridOptions() { Id = "USER_PHONE", ColumnName = "Phone", Sortable = true }
                        }, actions: new List<DataGridActions>() { new DataGridActions() { Ng_click = "ctl.modify", Color = ButtonColor.Warning, Icon = "edit" }}
                        , itemsPerPage: 15, ajax: "GetUsersView", autoWidth: false)
                    }
                )

                    @Html.RenderModal("gridEditModal", "Edit Authorization", new List<IHtmlString>() {
                    Html.RenderForm("editForm", new List<IHtmlString>() {
                    Html.RenderRow(new List<IHtmlString>() {
                        Html.RenderTextbox("USER_LOGIN", "Login", gridPart: 4, maxLength: 50, ng_model: "ctl.editItem.USER_LOGIN", enable: false),
                        Html.RenderTextbox("USER_NAME", "Display Name", gridPart: 4, maxLength: 30, ng_model: "ctl.editItem.USER_NAME", required: false),
                        Html.RenderTextbox("USER_PHONE", "Phone", gridPart: 4, maxLength: 30, ng_model: "ctl.editItem.USER_PHONE", required: false)
                    }),
                    Html.RenderRow(new List<IHtmlString>() {
                        Html.RenderTextbox("USER_EMAIL", "E-mail", gridPart: 6, maxLength: 100, ng_model: "ctl.editItem.USER_EMAIL", required: false),
                        Html.RenderImageUpload("USER_PHOTO", "User Photo", gridPart: 6, ajax: "UploadUserImage", ng_model: "ctl.editItem.USER_PHOTO", required: false, USER_LOGIN: "ctl.editItem.USER_LOGIN")
                    }),
                    },
                    new List<IHtmlString>() {
                        Html.RenderButton(ButtonType.Submit, ButtonColor.Primary, label: "Save", ng_click: "ctl.save()"),
                        Html.RenderButton(ButtonType.Button, ButtonColor.Danger, label: "Cancel", attributes:"data-dismiss='modal'") })
                    }, @class: "no-padding")
                    </div>
                </div>
        </section>
    </div>
</div>

@section pagespecific {
    @foreach (string bundle in ViewBag.bundles)
    {
        @Scripts.Render(bundle);
    }
    @Html.RenderAngularApp()
    @Html.RenderAngularController("view")
    <script type="text/javascript" src="~/AngularControllers/Administration/UsersController.js?version=@ViewBag.JSVersion"></script>
}
